.navigation-bar {
    font-size: 24px;
    background-color: rgb(46, 84, 99);

    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
}

.option-link {
    cursor: pointer;
}

.item {
    margin: 15px;
}